* {
    margin: 0;
    padding: 0;
}
.header {
    justify-content: center;
    width: 100vw;
}
#div-menu-mobile {
    display: flex;
}

.trybewarts-header-title {
    font-size: 3em;
}
.menu-mobile {
  display: flex;
  position:absolute;
  background-color: #3C404A;
  width: 100vw;
  height: 5vh;
}
.menu-mobile input {
    width: 30%;
    height: 2em;
    margin: 1em;
}
.menu-mobile button {
    width: 20%;
    height: 2em;
}
main {
    display: none;
  }
.imagem {
  display: none;
}
footer{
    display: none;
}
.trybewarts-login {
    display: none;
}