* {
    margin: 0;
    padding: 0;
}
.header {
    justify-content: center;
    width: 100vw;
}

#btn-mobile {
  display: block;
  width: 5%;
  border-top: 2px solid black;
  margin-left: 4%;
  cursor: pointer;
}

#btn-mobile::after, #btn-mobile::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    margin-top: 5px;
}

.trybewarts-header-title {
    font-size: 2.5em;
}

.div-menu-mobile {
    display: none;
}

.menu-mobile {
  display: flex;
  position:absolute;
  background-color: #3C404A;
  width: 100vw;
  height: 5vh;
  z-index: 1000;
}
.menu-mobile input {
    width: 30%;
    height: 2em;
    margin: 1em;
}

.menu-mobile button {
    width: 20%;
    height: 2em;
}

.container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
}

main {
    display: flex;
    justify-content: flex-start;
    height: 10vha;
    border: 1px solid blue;
}

#forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid black; */
    border: none;
}

#forms div {
    /* border: 1px solid purple; */
    width: 100%;
    margin: 0 1em;
    margin-bottom:10px;
}

#forms input {
    width: 49%;
}

#house {
  padding: 0.6em;
  width: 49%;
  margin-left: 1px;
}
.section2-mobile {
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
    flex-wrap: wrap;
}
.section2 {
    display: none;
}

.section3 {
    display: none;
}

.study {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
}

.study h1 {
  /* border: 1px solid red; */
  margin-bottom: 2px;
}

#checkboxs {
    display: flex;
    flex-wrap: wrap;
}

.family {
    display: flex;
    /* border: 1px solid blue; */
    margin: 2px;
}
.family label {
  margin-top: 10px;    
}


#checkboxs input{
    
    margin-left: 10px;
}

footer{
    display: flex;
}

.trybewarts-login {
    display: none;
}
 
.imagem {
  display: flex;
  width: 75%;
}

.imagem img {
  width: 100%;
}

.title-form-mobile {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 1em 0 0;
    padding: 0;
    font-size: 30px;
    order: 1;
}
.title-form{
    display: none;
  }

.form {
    display: flex;
    width: 100%;
}
