.header {
    justify-content: center;
    width: 100vw;
}
.trybewarts-header-title {
  margin-left: 1%;
}
#div-menu-mobile {
    display: flex;
}
.menu-mobile {
  display: flex;
  position:absolute;
  top: 10vh;
  background-color: #3C404A;
  width: 100vw;
  height: 5vh;
}
.menu-mobile input {
    padding: 0;
    width: 30%;
    height: 2em;
    margin: 1em;
}
.menu-mobile button {
    width: 20%;
    height: 2em;
}
main {
    display: none;
  }
.imagem {
  display: none;
}
footer{
    display: none;
}
.trybewarts-login {
    display: none;
}