@font-face {
  font-family: font;
  src: url('fonts/mezalia-regular.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: font;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 10vh;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.header img {
  height: 100%;
  margin-left: 2%;
}

#btn-mobile {
  display: none;
}

.trybewarts-login, .menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.trybewarts-login input, .menu-mobile input {
  width: 13em;
  height: 3em;
  margin: 0 20px;
  border-radius: 10px;
  padding: 10px;
}

.trybewarts-login button, .menu-mobile button {
  width: 13em;
  height: 3em;
  border-radius: 10px;
  background-color: rgb(78, 44, 131);
  color: white;
  transition: 0.4s;
}

.div-menu-mobile {
  display: none;
}

.trybewarts-header-title {
  font-size: 3.5em;
}

.trybewarts-login button:hover {
  background-color: rgb(119, 71, 198);
  transition: 0.3s;
  scale: 1.1;
}

.main {
  background-color: #EFEFEF;
  height: 85vh;
}

.container {
  margin: 0 2em;
  height: 85vh;
  display: flex;
  padding: 0;
  justify-content: center;
}

footer {
  height: 5vh;
  background-color: #3C404A;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form {
  width: 50%;
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em 0;
}

.title-form {
  font-size: 3em;
}

.title-form-mobile{
  display: none;
}

#cont {
  display: flex;
  justify-content: flex-end;
  color:#401c79;
  margin-bottom: -20px;
}
.imagem {
  width: 50%;
  display: flex;
  justify-content: center;
}

#forms {
  padding: 2em 0 0.7em;
  border-bottom: 3px solid gray; 
}

#forms input {
  width: 20em;
  margin: 0.5em 1em;
  padding: 1.5em;
  border-radius: 15px;
}

#house {
  background-color: white;
  padding: 1em 4.8em;
  border-radius: 15px;
  border: 1px solid #E5E5E5;
  font-size: 14px;
}

.section2 {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  width: 40em;
  justify-content: space-between;
  padding-bottom: 0.5em;
  border-bottom: 3px solid gray;
}

.family {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20em;
}

.family label {
  margin: 0.5em 0.7em;
}
.family label:nth-of-type(1){
  margin-top: 1.2em;
}
.study {
  width: 20em;
}
.study h1 {
  font-size: 20px;
  margin-bottom:1em;
}

#checkboxs {
  font-size: 1.6em;
}
#checkboxs div{
  margin-top: 0.5em;
}

.avaliacao {
  margin-top: 1em;
  font-size: 21px;
}
.textarea {
  display: flex;
  flex-direction: column;
}
#comment {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #4E2C83;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#labelCom {
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.agree {
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.boxbutton{
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #4E2C83;
  flex-basis: 100%;
  padding: 0.1em 0;
  color: white;
  font-size: 30px;
  border-radius: 20px;
  transition: 0.4s;
}

.button:hover {
  background-color: rgb(119, 71, 198);
  transition: 0.4s;
  scale: 1.1;
}


@media screen and (max-width: 1368px){
  .section2 {
    margin-top: 0;
    width: 35em;
    padding-bottom: 0;
  }

  #forms input {
    width: 20em;
    margin: 0;
    padding: 10px;
  }

  #house {
    padding: 10px 60px;
  }

  #forms {
    padding: 0;
  }
  .avaliacao {
    margin: 0;
  }

  #labelCom {
    margin-top: 0;
    margin-bottom: 0;
  }
}